#header {
    height: 50px;
    background: #102458;
    color: #fff;
}
#branding h1{
    color:#ffff
}
a:link,
a:visited{
    color: #102458;
}

div.Breadcumbs{
    background: #30caa0;
    color: #102458; 
}

div.Breadcumbs a{
    color:#333;
}

.module h2, .module caption, .inline-group h2{
    background: #30caa0;
}